<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <title>Plot data file</title>
    
    <link type="text/css" href="{{ root }}/.static/css/blitzer/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ root }}/.static/mf54/css/mf54_reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ root }}/.static/mf54/css/mf54_grid_nosidebar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ root }}/.static/mf54/css/mf54_content_nosidebar.css" />
    
    <link type="text/css" href="{{ root }}/.static/css/ceda_custom.css" rel="stylesheet" />
    
    <style>
      body {
        background-color: white;
      }
      .plot {
        margin: auto;
      }
      .plot-form {
        width: 800px;
      }
      .warning {
        margin: 4px 2px;
      }
    </style>
  </head>
  
  <body>
  <div class="plot">
    <div>
      <img border="1" src="{{ img_url }}" height="440" width="715">
    </div>
    
    {% if na_file_error %}
    <div>
      <ul class="messages" style="color: #FF0000;">
        <li class="warning">{{ na_file_error }}</li>
      </ul>
    </div>
    {% endif %}
    
    <div>
    <form class="plot-form" method="get" action="{{ location }}">
    <table border="1" bgcolor="#ADD8E6">
    <tr>
    <td>
    <table border="1">
      <tr>
      <td>
        <b>Plot:</b>
        <input type="hidden" name="plot" value="">
      </td>
      <td colspan="2">
        <select name="var" size="1">
          {% for value, name, selected in var %}
          <option value="{{ value }}" {% if selected %}selected{% endif %}>{{ name }}
          {% endfor %}
        </select>
        against 
        <select name="xvar" size="1">
          {% for value, name, selected in xvar %}
          <option value="{{ value }}" {% if selected %}selected{% endif %}>{{ name }}
          {% endfor %}
        </select>
        &nbsp;
        <input type="submit" value="Go">
      </td>
      </tr>
      <tr>
      <td>
      <b>Omit points:</b> 
      </td>
      <td colspan="2">
        Where: 
        <select name="omit_var" size="1">
          {% for value, name, selected in omit_var %}
          <option value="{{ value }}" {% if selected %}selected{% endif %}>{{ name }}
          {% endfor %}
        </select>
        <select name="omit_cmp" size="1">
          {% for value, name, selected in omit_cmp %}
          <option value="{{ value }}" {% if selected %}selected{% endif %}>{{ name }}
          {% endfor %}
        </select>
      <input type="text" name="omit_value" size="8" maxlength="12" value="{{ omit_value }}">
      </td>
      </tr>
      <tr>
      <td>
        <b>Scale:</b>
      </td>
      <td colspan="2" nowrap>
        Ymin: 
        <input type="text" name="ymin" size="8" maxlength="10" value="{{ ymin }}">
        Ymax: 
        <input type="text" name="ymax" size="8" maxlength="10" value="{{ ymax }}">
        Xmin: 
        <input type="text" name="xmin" size="8" maxlength="10" value="{{ xmin }}">
        Xmax: 
        <input type="text" name="xmax" size="8" maxlength="10" value="{{ xmax }}">
        <input type="button" value="Reset" onClick="xmin.value='';xmax.value='';ymin.value='';ymax.value=''">
      </td>
      </tr>
      <tr>
      <td>
      <b>Plot Symbol:</b>
      </td>
      <td nowrap>
        {% for value, name, selected in symbol %}
        &nbsp; {{ name }}<input type="radio" name="symbol" value="{{ value }}" {% if selected %}checked{% endif %}>
        {% endfor %}
      </td>
      <td>
      <b>Connect points?</b><br>
        {% for value, name, selected in connect %}
        {{ name }}<input type="radio" name="connect" value="{{ value }}" {% if selected %}checked{% endif %}>
        {% endfor %}
      </td>
      </tr>
      </table>
      </td>
      </tr>
      </table>
    </form>
    </div>
  </div>
  </body>
  
</html>
