<html>
  
  <head>
    <title>
      Download selected files
    </title>
  </head>
  
  <body>
    <h2>
      Download selected files
    </h2>
    
    <hr>
    
    <table>
      <tr>
        <td><b>Filespec:</b></td>
        <td>{{ glob }}</td>
      </tr>
      <tr>
        <td><b>Depth:</b></td>
        <td>{{ depth }}</td>
      </tr>
      <!-- Glob: "*" -->
      <tr>
        <td><b>Files selected for download:</b></td>
        <td>{{ n_allowed }}</td>
      </tr>
      <tr>
        <td><b>Total size of selected files (bytes):</b></td>
        <td>{{ allowed_size }}</td>
      </tr>
      <tr>
        <td><b>Files you are not authorised to access:</b></td>
        <td>{{ n_forbidden }}</td>
      </tr>
    </table>
    
    <form method="get">
      <input type="hidden" name="glob" value="{{ glob }}">
      <input type="hidden" name="depth" value="{{ depth }}">
      <input type="submit" name="action" value="Download">
    </form>
    
    <hr>
    
    <em>Details of files selected for downloading:</em>
    <table>
      <tr>
        <th>File</th>
        <th></th>
        <th>Size (bytes)</th>
      </tr>
      {% for file in allowed_files %}
        <tr>
          <td>{{ file.relative_path }}</td>
          <td WIDTH="10"></td>
          <td ALIGN="right">{{ file.size }}</td>
        </tr>
      {% endfor %}
    </table>
    
  </body>
  
</html>
