<html>
  
  <head>
    <title>
      Download selected files
    </title>
  </head>
  
  <body>
    <h2>
      Download selected files
    </h2>
    
    <hr>
    
    <table>
      <tr>
        <td><b>Filespec:</b></td>
        <td>*</td>
      </tr>
      <tr>
        <td><b>Depth:</b></td>
        <td>2</td>
      </tr>
      <!-- Glob: "*" -->
      <tr>
        <td><b>Files selected for download:</b></td>
        <td>6</td>
      </tr>
      <tr>
        <td><b>Total size of selected files (bytes):</b></td>
        <td>68,281 (66.7K)</td>
      </tr>
      <tr>
        <td><b>Files you are not authorised to access:</b></td>
        <td>0</td>
      </tr>
    </table>
    
    <form method="get">
      <input type="hidden" name="glob" value="*">
      <input type="hidden" name="depth" value="2">
      <input name="action" value="Download" type="submit">
    </form>
    
    <hr>
    
    <em>Details of files selected for downloading:</em>
    <table>
      <tr>
        <th>File</th>
        <th></th>
        <th>Size (bytes)</th>
      </tr>
      <tr>
        <td>./00README</td>
        <td WIDTH="10"></td>
        <td ALIGN="right">23</td>
      </tr>
    </table>
    
  </body>
  
</html>
